*~
*.mo
.DS_Store
.bundle
.idea*
.powenv
.rvmrc
.sass-cache/
.vscode/settings.json
.byebug_history
bin/wkhtmltopdf
bundle
config/*.sphinx.conf
config/database.yml
config/environments/*.local.yml
config/google_service_account_files/*
config/redis.yml
config/secrets.yml
config/settings.local.yml
config/settings/*.local.yml
config/thinking_sphinx.yml
coverage/*
db/*.sqlite3
db/sphinx
db/mysql_data/*
doc/*.svg
dump.rdb
gemsurance_report.html
locale/*/app.edit.po
log/*
nbproject
node_modules
public*
/public/packs/
public/assets
public/javascripts/i18n
public/system/*
rdoc/*
server_setup/backup_test_logs.txt
test/reports/*
test/tmp/*
tmp/
todo_design.txt
todo
vanity.html
vendor/assets/bower_components
vendor/bundle
vendor/cache

/* database backups */
*.sql
*.tar

/* ctags */
.docker-sync/
.yarn-integrity

/public/packs
/public/packs-test
/node_modules
storage/*
tags
yarn-debug.log*
