// Place all the styles related to the item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

footer {
    width: 100%;
    height: 50px;
    p{
        line-height: 50px;
    }
}

.card {
    width: 50%;
    max-width: 800px;
    height: 50%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.card-form {
    padding: 20px 0;
}

.card-header {
    align-items: center;
    padding: 0;
}

.add-todo-wrapper {
    height: 70px;
    align-items: center;

    form {
        display: flex;
    }
}

.todo-item {
    padding: 5px 20px;
    align-items: center !important;
}

.todo-item:nth-child(even) {
    background-color: lightgray;
}

.todo-item {
    h2 {
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
    }
}

.button_to {
    margin-left: 5px;
}

#item_todos {
    width: 300px;
    height: 30px;
}

.add-todo {
    height: 30px;
    font-size: 13px;
}

.plus-item-btn{
    transition: .3s;
}

.plus-item-active{
    transform: rotate(180deg) scale(.7);
    transition: .3s;
}

.add-sub-form-wrapper{
    width: 100%;
    height: 0;
    transition: .6s;
    overflow: hidden;
}

.add-sub-form-active{
    overflow: visible;
    height: auto;
    min-height: 100px;
    transition: .6s;
}

.add-sub-todo-wrapper{
    height: 30px;
}

.sub-items-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.sub-items-wrapper h4{
    margin: 0;
}

.sub-item{
    margin: 2.5px 0;
}

.sub-item h4{
    font-size: .9rem;
}

.sub-item .btn{
    transform: scale(.7);
}

.add-todo-wrapper {
    form {
        display: flex;
        align-items: center;
}

.auth-wrap {
    height: 50%;
    width: 160px;
    align-items: center;
    justify-content: center;
}

.field {
    margin-top: 20px;

    &:last-child {
        margin-top: 20px;
    }
}

.new_user {
    margin: 0 auto;
    margin-top: 50px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px grey;
    padding: 10px 10px;
}

#error_explanation
    h2 {
        font-size: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
        color: red;
    }
}


@media screen and (max-width: 1024px) {
    .card {
        width: 80%;
    }

    .field{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 100%;
        border: none;
    }

    .add-todo-wrapper{
        height: 100px;
        form{
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
        }
    }
}
