// Place all the styles related to the item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card{
    width: 50%;
    min-width: 800px;
    height: 50%;
    margin: 0 auto;
    text-align: center;
}

.card-header{
    text-align: center;
}

.add-todo-wrapper{
    height: 70px;
    align-items: center;
}

.todo-item{
    padding: 5px 20px;
    align-items: center !important;
}

.todo-item:nth-child(even){
    background-color: lightgray;
}

.todo-item h2{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.button_to{
    margin-left: 5px;
}

#item_todos{
    width: 300px;
    height: 30px;
}

.add-todo{
    height: 30px;
    font-size: 13px;
}

.plus-item-btn{
    transition: .3s;
}

.plus-item-active{
    transform: rotate(180deg) scale(.7);
    transition: .3s;
}

.add-sub-form-wrapper{
    width: 100%;
    height: 0;
    transition: .6s;
    overflow: hidden;
}

.add-sub-form-active{
    overflow: visible;
    height: auto;
    min-height: 100px;
    transition: .6s;
}

.add-sub-todo-wrapper{
    height: 30px;
}

.sub-items-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.sub-items-wrapper h4{
    margin: 0;
}

.sub-item{
    margin: 2.5px 0;
}

.sub-item h4{
    font-size: .9rem;
}

.sub-item .btn{
    transform: scale(.7);
}