<% Rails.cache.fetch 'footer', expires_in: 1.hour do %>
  <% @footer = generate_footer %>

  <footer style="background-color: <%= @footer[:background] %>; color: <%= @footer[:color] %>">
    <p><%= @footer[:title] %></p>
  </footer>
<% end %>
